/* Font Face */
@font-face {
  font-family: 'voltage-bold';
  src: url('/fonts/voltage-bold/voltage-bold-webfont.eot') format('embedded-opentype'), 
     url('/fonts/voltage-bold/voltage-bold-webfont.woff') format('woff'), 
     url('/fonts/voltage-bold/voltage-bold-webfont.ttf')  format('truetype'), 
     url('/fonts/voltage-bold/voltage-bold-webfont.svg') format('svg'); 
}

body{
  background-color: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #363636;
}

hr{
  border-top: 1px solid rgba(0,0,0,0.5);
}

a, button {
    outline: none !important;
}
a img{
    outline: none !important;
}

.raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}


/*Nav Hack*/

.jp-nav-box{
  background-color: #ffc38d;
  padding: 0;
}

.jp-nav{
  list-style: none !important;
  padding: 0 !important;
}

.jp-nav li{
  margin-bottom: 5%;
}

.jp-nav li a i{
  color: rgb(108, 136, 185);
  text-decoration: none;
}

.btn-nav{
  color: #fafafa;
  background-color: transparent;
  border-color: transparent;
}

.btn:hover, .btn:focus {
  color: rgba(277,277,277,0.7);
  text-decoration: none;
  border-color: transparent;
}

.btn:active, .btn.active{
  box-shadow: none;
}

/*Custom*/

.mountain-box{
  margin-bottom: 1%;
}

.arrow-box{
  margin-bottom: 5%;
}

.jpResponsive{
  display: inline-block;
  height: auto;
  max-width: 100%;
  margin: auto;
}

.text-justify{
  text-align: justify;
}


.jp-image{
  width: 300px;
  height: 300px;
  background-image: url('../images/jesus-parlange-home.png');
  background-repeat: no-repeat;
  margin: 0 auto 3%;
  border-radius: 50%;
  transition: all linear 1s;
  background-size: 100%;
}

.jp-image img{
  border-radius: 50%;
}

.colour-photo{
  background-image: url('../images/jesus-parlange-home-colour.png');
}

.jumbotron{
  background-color: #fafafa;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2%;
}

.padtopzero{
  padding-top: 0;
}

.jumbotron h1{
  margin-bottom: 0;
  margin-top: 0;
  color: darksalmon;
}

#jesus {
  color: #363636;
}

#jesus-developer{
  margin-bottom: 5%;
}

#jesus-developer h2 {
  font-family: 'voltage-bold';
  display: inline-block;
  padding: 0;
  color: #68c4af;
  /*#849fc8*/
  font-weight: 100;
  font-size: 2.7em;
  margin: 0;
}
.jp-container{
  display: inline-block;
}

#jpBox1{
  margin-bottom: 5%;
}

#jpBox1 img{
  border-radius: 6px;
}

#smBox {
  margin: 0 0 5% 0;
}

#smBox a {
  margin-left: 15px;
  margin-right: 15px;
  color: #87a9d7;
}

#smBox a:hover {
  color: #ffc38d;
}

.panel-heading{
  padding: 2% 1.5%;
}

ul.aboutBox {
  list-style: none;
  padding-left: 0;
}

.works{
  text-align: center;
  margin: 3% 0 10%;
}

.latest-box{
  display: inline-block;
  padding: 24px 140px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  text-shadow: 3px 3px #999;
  background-image: url('../images/banner-blue.svg');
  background-repeat: no-repeat;
}

.story-box{
  display: inline-block;
  padding: 24px 160px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  text-shadow: 3px 3px #999;
  background-image: url('../images/banner-orange.svg');
  background-repeat: no-repeat;
}

.story-banner-box{
  margin-top: 3%;
}

.samples{
  margin-bottom: 15%;
  border-bottom: 3px dashed #999;
  padding-bottom: 2%;
}

.ipad-img{
  margin-bottom: 2%;
}

.noborder{
  border: none !important;
}

.collapse.in{
  margin-bottom: 3%;
}

/*Accordion*/

.accordion-toggle:hover, .accordion-toggle:active{
  text-decoration: none;
  cursor: pointer;
}

.panel-title > a{
  font-family: 'Ubuntu', sans-serif;
}

/*Video*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video img,
.video iframe,
.video object,
.video embed {
        max-width: 100%;
}

.more-music{
  margin-top: 2%;
  text-align: center;
}

.btn-default {
  color: #fff;
  background-color: #f2a057;
  border-color: #f2a057;
  padding: 20px;
  border-radius: 50%;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default.active, .open .dropdown-toggle.btn-default{
  background-color: #88bec1;
  border-color: #88bec1;
}

.more-mar-bot{
  margin-bottom: 5%;
}

/*Scroll to Top*/

.scroll-icon{
  display: inline-block;
  cursor: pointer;
}

.scroll-icon:hover{
  opacity: 0.5;
}

/*Contact Box*/

.contact-box{
  background-color: #68c4af;
  padding: 3% 0;
}

.contact-box a{
  font-size: 3em;
  color: #fff;
}

/*Footer*/

.footer-box {
  background-color: #333;
  padding: 3%;
}
.copyright{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  color: #fafafa;
  font-size: 1.3em;
  margin-top: 3%;
  margin-bottom: 3%;
}

footer p, footer i{
  color: #fafafa;
}
/*Bootstrap Media Queries*/

@media screen and (max-width:767px){
  .jumbotron h1{
    font-size: 65px;
  }

  #jesus-developer h2{
    font-size: 2.2em;
  }

  .box-text{
    margin-bottom: 5%;
  }

  #jesus-developer {
    margin-bottom: 15%;
  }

  .aboutBox img{
    width: 263px;
    height: 263px;
  }

  .p-story{
    padding: 0 5%;
    font-size: 1em;
  }

  .ipad-img{
    width: 21%;
  }

  .copyright{
    font-size: 1em;
  }

}

@media screen and (max-width: 600px){
  .jumbotron h1{
    font-size: 60px;
  }

  #jesus-developer h2{
    font-size: 1.9em;
  }

  .box-text{
    margin-bottom: 5%;
  }

  #jesus-developer {
    margin-bottom: 15%;
  }

  .aboutBox img{
    width: 263px;
    height: 263px;
  }

  .story-box{
    padding: 19px 121px;
    background-size: 100%;
    font-size: 2em;
  }

  .latest-box{
    padding: 19px 109px;
    background-size: 100%;
    font-size: 1.9em;
  }

  .p-story{
    padding: 0 5%;
    font-size: 0.9em;
  }

  .ipad-img{
    width: 21%;
  }

  .copyright{
    font-size: 1em;
  }
}

/*iPhone Size Portrait*/
@media screen and (max-width: 480px){
  .jumbotron h1{
    font-size: 39px;
  }

  #jesus-developer h2{
    font-size: 1.4em;
  }

  .jp-image{
    width: 263px;
    height: 263px;
  }

  .mountains{
    width: 20%;
  }

  .box-text{
    margin-bottom: 5%;
  }

  #jesus-developer {
    margin-bottom: 15%;
  }

  .aboutBox img{
    width: 263px;
    height: 263px;
  }

  .story-box{
    padding: 11px 82px;
    background-size: 100%;
    font-size: 2em;
  }

  .latest-box{
    padding: 14px 82px;
    background-size: 100%;
    font-size: 1.9em;
  }

  .p-story{
    padding: 0 5%;
    font-size: 0.8em;
  }

  .ipad-img{
    width: 21%;
  }

  .copyright{
    font-size: 0.9em;
  }

}

@media screen and (min-width:768px){
  .navbar-toggle {
    display: block;
  }
  .jumbotron h1{
    font-size: 70px;
  }

  #jesus-developer h2{
    font-size: 2.4em;
  }

  .ipad-img{
    width: 17%;
  }
}

@media screen and (min-width:992px){
  .jumbotron h1{
    font-size: 79px;
  }

  #jesus-developer h2{
    font-size: 2.7em;
  }

  .ipad-img{
    width: 15%;
  }
}

@media screen and (min-width:1200px){}




