body{
  background-color: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #363636;
}

hr{
  border-top: 1px solid rgba(0,0,0,0.5);
}

a, button {
    outline: none !important;
}
a img{
    outline: none !important;
}

.raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #ffc38d;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  color: #fafafa;
  font-size: 1.3em;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fafafa;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fafafa;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*Custom*/

.jpResponsive{
  display: inline-block;
  height: auto;
  max-width: 100%;
  margin: auto;
}

.text-justify{
  text-align: justify;
}


.jp-image{
  width: 300px;
  height: 300px;
  background-image: url('../images/jesus-parlange-home.png');
  background-repeat: no-repeat;
  margin: 0 auto 3%;
  border-radius: 50%;
  transition: all linear 1s;
}

.jp-image img{
  border-radius: 50%;
}

.colour-photo{
  background-image: url('../images/jesus-parlange-home-colour.png');
}

.jumbotron{
  background-color: #fafafa;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3%;
}

.jumbotron h1{
  margin-bottom: 0;
}

#jesus {
  color: #363636;
}

#jesus-developer h2 {
  border: 2px solid #f49662;
  border-radius: 10px;
  display: inline-block;
  padding: 15px;
  color: #f49662;
  font-weight: 300;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 3%;
}
.jp-container{
  display: inline-block;
}

#jpBox1 img{
  border-radius: 6px;
}

#smBox {
  margin: 0 0 5% 0;
}

#smBox a {
  margin-left: 15px;
  margin-right: 15px;
  color: #87a9d7;
}

#smBox a:hover {
  color: #ffc38d;
}

.panel-heading{
  padding: 2% 1.5%;
}

ul.aboutBox {
  list-style: none;
  padding-left: 0;
}

.works{
  text-align: center;
  margin: 10% 0;
}

/*.works h1{
  display: inline-block;
  background-color: #f49662;
  border-radius: 12px;
  padding: 2% 4%;
  margin: 0;
  color: #fff;
}*/

.latest-box{
  display: inline-block;
  background-color: #f49662;
  border-radius: 12px;
  padding: 2% 4%;
  margin: 0;
  color: #fff;
}

.samples{
  margin-bottom: 15%;
  border-bottom: 3px dashed #999;
  padding-bottom: 2%;
}

.ipad-img{
  margin-bottom: 2%;
}

.noborder{
  border: none !important;
}


/*Accordion*/

.accordion-toggle:hover, .accordion-toggle:active{
  text-decoration: none;
  cursor: pointer;
}

.panel-title > a{
  font-family: 'Ubuntu', sans-serif;
}

/*Video*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video img,
.video iframe,
.video object,
.video embed {
        max-width: 100%;
}

.more-music{
  margin-top: 4%;
}


/*Footer*/

.footer-box {
  background-color: #54b6db;
  padding: 1%;
}
.copyright{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #fafafa;
}

footer p, footer i{
  color: #fafafa;
}
/*Bootstrap Media Queries*/

@media screen and (min-width:1200px){}

@media screen and (min-width:992px){}

@media screen and (min-width:768px){}

@media screen and (max-width:767px){
  .blog-nav-item{
    font-size: 1em;
  }

}
