<!-- <wrap-owlcarousel class="owl-carousel"
    data-options="{autoPlay: 5000, stopOnHover: true,
        slideSpeed : 300, paginationSpeed : 400, singleItem : false}">
    <div>
        <img src="images/e-1.png"/>
    </div>
    <div>
        <img src="images/e-2.png"/>
    </div>
    <div>
        <img src="images/e-3.png"/>
    </div>
    <div>
        <img src="images/e-1.png"/>
    </div>
    <div>
        <img src="images/e-2.png"/>
    </div>
    <div>
        <img src="images/e-3.png"/>
    </div>
</wrap-owlcarousel> -->


<div class="footer-box">
  <footer>
    <div class="copyright text-center">2014  <i class="fa fa-recycle"></i> Jesus Parlange</div>
  </footer>
</div><!-- end footer-box -->
