<div class="blog-masthead">
 <div class="container">
   <nav class="blog-nav">
     <a class="blog-nav-item active" href="">Welcome</a>
     <a class="blog-nav-item" href="https://twitter.com/jesusparlange" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
     <a class="blog-nav-item" href="http://instagram.com/sharetheawesome/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
    <a class="blog-nav-item" href="https://plus.google.com/107404649059750821138" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a>
    <a class="blog-nav-item" href="https://soundcloud.com/parlange" target="_blank"  title="SoundCloud"><i class="fa fa-cloud"></i></a>
    <a class="blog-nav-item" href="http://www.linkedin.com/pub/jesus-parlange/38/898/9b6"  target="_blank" title="Linked In"><i class="fa fa-linkedin"></i></a>
    <a class="blog-nav-item" href="http://www.youtube.com/user/parlangemusic" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
    <a class="blog-nav-item pull-right" href="mailto:jesus.parlange@gmail.com?subject=Hello" target="_top">jesus.parlange@gmail.com</a>
   </nav>
 </div>
</div>
