<!-- <div class="blog-masthead">
 <div class="container">
   <nav class="blog-nav">
     <a class="blog-nav-item active" href="">Welcome</a>
     <a class="blog-nav-item" href="https://twitter.com/jesusparlange" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
     <a class="blog-nav-item" href="http://instagram.com/sharetheawesome/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
    <a class="blog-nav-item" href="https://plus.google.com/107404649059750821138" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a>
    <a class="blog-nav-item" href="https://soundcloud.com/parlange" target="_blank"  title="SoundCloud"><i class="fa fa-cloud"></i></a>
    <a class="blog-nav-item" href="http://www.linkedin.com/pub/jesus-parlange/38/898/9b6"  target="_blank" title="Linked In"><i class="fa fa-linkedin"></i></a>
    <a class="blog-nav-item" href="http://www.youtube.com/user/parlangemusic" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
    <a class="blog-nav-item pull-right" href="mailto:jesus.parlange@gmail.com?subject=Hello" target="_top">jesus.parlange@gmail.com</a>
   </nav>
 </div>
</div>
 -->
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-inner-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <!-- <a class="navbar-brand" href="index.html">Jesus Parlange</a> -->
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="" href="https://twitter.com/jesusparlange" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="" href="http://instagram.com/sharetheawesome/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="" href="https://plus.google.com/107404649059750821138" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="" href="https://soundcloud.com/parlange" target="_blank"  title="SoundCloud"><i class="fa fa-cloud"></i></a>
                        </li>
                        <li>
                            <a class="" href="http://www.linkedin.com/pub/jesus-parlange/38/898/9b6"  target="_blank" title="Linked In"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="" href="http://www.youtube.com/user/parlangemusic" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="mailto:info@jesusparlange.com?subject=Contact%20JP" title="Say hello" >info@jesusparlange. com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
