<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="box-text text-center" elements>
				<div class="aboutBox" style="display:none;">
					<img src="images/tech-1.png" class="jpResponsive">
				</div>
				<img src="images/jp-boat.svg" class="jpResponsive travel-img">
			</div></div>

		<div class="col-md-3">
			<div class="box-text text-center" elements>
				<div class="aboutBox" style="display:none;">
					<img src="images/tech-2.png" class="jpResponsive">
				</div>
			<img src="images/jp-mountains.svg" class="jpResponsive travel-img">
		</div></div>

		<div class="col-md-3">
			<div class="box-text text-center" elements>
				<div class="aboutBox" style="display:none;">
					<img src="images/tech-3.png" class="jpResponsive">
				</div>
				<img src="images/jp-air-balloon.svg" class="jpResponsive travel-img">
			</div></div>

		<div class="col-md-3">
			<div class="box-text text-center" elements>
				<div class="aboutBox" style="display:none;">
					<img src="images/tech-4.png" class="jpResponsive">
		    </div>
				<img src="images/jp-rocket.svg" class="jpResponsive travel-img">
			</div></div>
	</div>
</div>
