<div class="text-center">
	<ul class="jp-nav">
		<li>
			<a class="" href="https://twitter.com/jesusparlange" target="_blank" title="Twitter"><i class="fa fa-twitter fa-4x"></i></a>
		</li>
		<li>
			<a class="" href="http://instagram.com/sharetheawesome/" target="_blank" title="Instagram"><i class="fa fa-instagram fa-4x"></i></a>
		</li>
		<li>
			<a class="" href="http://www.linkedin.com/pub/jesus-parlange/38/898/9b6"  target="_blank" title="Linked In"><i class="fa fa-linkedin fa-4x"></i></a>
		</li>
		<li>
			<a href="mailto:info@jesusparlange.com?subject=Hello%20JP" title="Email"><i class="fa fa-envelope fa-4x"></i></a>
		</li>
		<li>
			<a class="" href="https://soundcloud.com/parlange" target="_blank"  title="SoundCloud"><i class="fa fa-cloud fa-4x"></i></a>
		</li>
		<li>
			<a class="" href="http://www.youtube.com/user/parlangemusic" target="_blank" title="YouTube"><i class="fa fa-youtube fa-4x"></i></a>
		</li>
		<li>
			<a class="" href="https://plus.google.com/107404649059750821138" target="_blank" title="Google Plus"><i class="fa fa-google-plus fa-4x"></i></a>
		</li>
	</ul>
</div>