<h1 class="text-center raleway works">Latest Work</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6"></div>
  </div>
</div> <!-- end container -->

<wrap-owlcarousel class="owl-carousel"
    data-options="{autoPlay: 5000, stopOnHover: true,
        slideSpeed : 300, paginationSpeed : 400, singleItem : true}">
    <div>
        <img src="images/e-1.png"/>
    </div>
    <div>
        <img src="images/e-2.png"/>
    </div>
    <div>
        <img src="images/e-3.png"/>
    </div>
</wrap-owlcarousel>
