<div class="works"><h1 class="text-center raleway latest-box">Latest Work</h1></div>

<div class="container text-center">
  	
    <div class="samples">
    	<img src="images/ipad/slowjamsundays-ipad.png" class="jpResponsive ipad-img">
    	<img src="images/works-images/sjs-1-1000px.png" class="jpResponsive">
    	
    </div>
    <div class="samples">
    	<img src="images/ipad/missink-ipad.png" class="jpResponsive ipad-img">
    	<img src="images/works-images/missink-1-1000px.png" class="jpResponsive">
    	
    </div>
	

	<div class="samples">
		<img src="images/ipad/hoochy-booch-ipad.png" class="jpResponsive ipad-img">
		<img src="images/works-images/hoochy-booch-1-1000px.png" class="jpResponsive">
		
	</div>
	<div class="samples">
		<img src="images/ipad/wealthy-monk-ipad.png" class="jpResponsive ipad-img">
		<img src="images/works-images/wealthy-monk-1-1000px.png" class="jpResponsive">
		
	</div>


	<div class="samples">
		<img src="images/ipad/ponderosa-ipad.png" class="jpResponsive ipad-img">
		<img src="images/works-images/ponderosa-1-1000px.png" class="jpResponsive">
		
	</div>
	<div class="samples">
		<img src="images/ipad/lio-ipad.png" class="jpResponsive ipad-img">
		<img src="images/works-images/lioonline-1-1000px.png" class="jpResponsive">
		
	</div>

	<div class="samples">
		<img src="images/ipad/twist-parties-ipad.png" class="jpResponsive ipad-img">
		<img src="images/works-images/twist-parties-1-1000px.png" class="jpResponsive">
		
	</div>

	<div class="samples noborder">
		<img src="images/ipad/stu-kerr-ipad.png" class="jpResponsive ipad-img">
		<img src="images/works-images/stu-kerr-1-1000px.png" class="jpResponsive">
		
	</div>
		
	
</div>

