<div ng-include="'views/partials/header.html'" ng-cloak></div>

<div class="jumbotron">
  <div class="container" id="jesus">
    <h1 class="text-center raleway">Jesus Parlange </h1>
  </div><!-- end container -->
</div><!-- end jumbotron -->

<div class="mountain-box text-center">
  <img src="images/mountains-icon.svg" class="jpResponsive mountains">
</div>
<div id="jesus-developer" class="text-center">
    <h2 class="text-center ubuntu">Web Designer & Developer</h2>
</div><!-- end container -->


<div class="jp-image text-center" popover="Welcome!" popover-trigger="click" jesus-parlange>

</div> <!-- end jp-image -->

<div class="arrow-box text-center">
  <img src="images/dotted-line-4.png">
</div>

<div id="jpBox1" class="text-center">
  <div class="jp-container">
    <div class="row">
      <div class="col-md-12">
        <div class="travel-icons" ng-include="'views/partials/landscapes.html'"></div>
      </div>
    </div>
  </div>
</div> <!-- end jpBox1 -->

<div class="arrow-box text-center">
  <img src="images/dotted-line-4.png">
</div>

<div class="mountain-box text-center">
  <img src="images/bear.svg" class="jpResponsive">
</div>

<div class="story-banner-box text-center"><h1 class="text-center raleway story-box">The Story</h1></div>

<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-6"><p class="text-justify p-story"><strong>Jesus Parlange</strong> is a <strong>Web Designer</strong> & <strong>Web Developer</strong> from <strong>Vancouver</strong>, British Columbia.
    His passion for the <strong>arts</strong> have lead him to experience <strong>creativity</strong> in different ways.
    Starting his adventure in the world of music when he was a kid, J.P. began to <strong>write</strong>
    and record his own <strong>music</strong> with the knowledge acquired within the music <strong>academy</strong> he attended
    as a child. Ever since then music as been a huge part of his life. He has always expressed
    his thoughts and <strong>ideas</strong> through art. University brought J.P. many awesome opportunities to
    expand his creative pallet.</p></div>
    <div class="col-sm-6"><p class="text-justify p-story">Here he was exposed to <strong>film</strong>, <strong>graphic design</strong> and <strong>photography</strong>, thus opening new doors and expanding his skill set for future creations. J.P.'s dedication for music lead him into a <strong>successful</strong> career as a DJ for 5 years, where he got to <strong>travel</strong> and share stages with the best DJs around the <strong>world</strong>. Making the most out of this musical <strong>momentum</strong> he graduated from sound engineering school and began working with bands and artists across <strong>Canada</strong>. He has received several <strong>awards</strong> in the music industry for his work as a music producer including a <strong>Juno Award</strong> in 2010.
  </p></div>
  </div>

</div>

<div class="container">

  <div class="more-music">
    <button class="btn btn-default more-mar-bot" ng-click="isCollapsed = !isCollapsed"><img src="images/sound.svg"></button>
    <div collapse="isCollapsed">
      <div class="row video">
        <div class="col-sm-4"><iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/13016985&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe></div>
    <div class="col-sm-4"><iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/51122748&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe></div>
    <div class="col-sm-4"><iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/13016854&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe></div>
      </div>
    </div>
  </div>
</div><!-- </div> end container -->


<div class="container jumbotron padtopzero">
  <div class="row">
    <div class="col-md-6"><p class="text-justify p-story">Following his work as a studio engineer and music <strong>producer</strong>, his experience
    with <strong>computers</strong>, creative software and graphic apps took J.P. on another <strong>fantastic</strong>
    adventure into the world of Web Development & Web Design. He brings a unique <strong>perspective</strong> and skill
    set to his <strong>clients</strong> projects, as he integrates all his talents and <strong>excitement</strong> for graphic
    design, photography, video and music production into web development <strong>projects</strong>.</p></div>
    <div class="col-md-6"><p class="text-justify p-story">He is known for his <strong>ability</strong> to easily <strong>translate ideas</strong> from creative conception into the computer realm, for clearly understanding his clients needs and for his ability to effectively <strong>communicate</strong> each clients unique <strong>message</strong> into the <strong>world</strong> through the utilization of appropriate web based <strong>tools</strong>. His <strong>positive</strong> outlook combined with his expansive and flexible skill set, has established him a reputation as <strong>reliable</strong>, <strong>trustworthy</strong> and <strong>successful</strong> throughout his vibrant and diverse <strong>career</strong>.</p></div>
  </div>
</div>

<div class="arrow-box text-center">
  <img src="images/dotted-line-4.png">
</div>
<div class="mountain-box text-center">
  <img src="images/bear.svg" class="jpResponsive">
</div>
<div ng-include="'views/partials/works.html'" ng-cloak></div>

<div class="contact-box text-center">
  <a href="mailto:info@jesusparlange.com?subject=Hello%20JP" title="Say Hello" class="ubuntu"><div class="email-icon-circle"><i class="fa fa-envelope fa-2x"></i></div></a> <br>
  <a href="mailto:info@jesusparlange.com?subject=Hello%20JP" title="Say Hello" class="ubuntu contact-link-footer">info@jesusparlange.com</a>
</div>

<div ng-include="'views/partials/footer.html'" ng-cloak></div>