<div ng-include="'views/partials/header.html'" ng-cloak></div>

<div class="jumbotron">
  <div class="container" id="jesus">
    <h1 class="text-center raleway">Jesus Parlange </h1>
  </div><!-- end container -->
</div><!-- end jumbotron -->

<div class="jp-image text-center">
  <img src="images/jesus-parlange-home.jpg" class="jpResponsive" />
</div> <!-- end jp-image -->

<div class="">
  <div class="container" id="jesus-developer">
    <div class="container text-center">
      <h2 class="text-center ubuntu">Web Designer & Developer</h2>
    </div>
  </div><!-- end container -->
</div><!-- end jumbotron -->

<div id="jpBox1" class="text-center">
  <div class="jp-container">
    <div class="row">
      <div class="col-md-12">
        <div class="works" ng-include="'views/partials/landscapes.html'"></div>
      </div>
    </div>
  </div>

</div> <!-- end jpBox1 -->

<div class="container jumbotron">
  <p class="text-justify">Jesus Parlange is a Web Developer from Vancouver, British Columbia.
    His passion for the arts have lead him to experience creativity in different ways.
    Starting his adventure in the world of music when he was a kid, J.P. began to write
    and record his own music with the knowledge acquired within the music academy he attended
    as a child. Ever since then music as been a huge part of his life. He has always expressed
    his thoughts and ideas through art. University brought J.P. many awesome opportunities to
    expand his creative pallet. Here he was exposed to film, graphic design and photography,
    thus opening new doors and expanding his skill set for future creations. J.P.'s dedication for
    music lead him into a successful career as a DJ for 5 years, where he got to travel and share
    stages with the best DJs around the world. Making the most out of this musical momentum he graduated
    from sound engineering school and began working with bands and artists across Canada. He has received
    several awards in the music industry for his work as a music producer including a Juno Award in 2010.
  </p>
</div>

<div class="container">
  <div class="row video">
    <div class="col-sm-4"><div class="video-container"><iframe width="100%" height="240" src="//www.youtube.com/embed/_sX61DaOEBM?list=UULGZJl8hgmP0N-Knvi1x9bg&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
    <div class="col-sm-4"><div class="video-container"><iframe width="100%" height="240" src="//www.youtube.com/embed/ityh7zfoCKI?list=UULGZJl8hgmP0N-Knvi1x9bg&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
    <div class="col-sm-4"><div class="video-container"><iframe width="100%" height="240" src="//www.youtube.com/embed/u0y4C93e7U4?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
  </div>

  <div class="more-music">
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-circle"></i> Music</button>
    <div collapse="isCollapsed">
      <div class="row video">
        <div class="col-md-4"><div class="video-container"><iframe width="100%" height="240" src="//www.youtube.com/embed/PJ1VHTbFtow?list=UULGZJl8hgmP0N-Knvi1x9bg&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
        <div class="col-md-4"><div class="video-container"><iframe width="100%" height="240" src="//www.youtube.com/embed/WXQuBAPCqC4?list=UULGZJl8hgmP0N-Knvi1x9bg&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
        <div class="col-md-4"><div class="video-container"><iframe width="100%" height="240" src="//www.youtube.com/embed/DOWcsq9MYT0?list=UULGZJl8hgmP0N-Knvi1x9bg&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div></div>
      </div> 
    </div>
  </div>
</div><!-- </div> end container -->


<div class="container jumbotron">
  <p class="text-justify">Following his work as a studio engineer and music producer, his experience
    with computers, creative software and graphic apps took J.P. on another fantastic
    adventure into the world of Web Development. He brings a unique perspective and skill
    set to his clients projects, as he integrates all his talents and excitement for graphic
    design, photography, video and music production into web development projects. He is known
    for his ability to easily translate ideas from creative conception into the computer realm,
    for clearly understanding his clients needs and for his ability to effectively communicate each
    clients unique message into the world through the utilization of appropriate web based tools.
    His positive outlook combined with his expansive and flexible skill set, has established him a
    reputation as reliable, trustworthy and successful throughout his vibrant and diverse career.
  </p>
</div>

<div ng-include="'views/partials/works.html'" ng-cloak></div>

<div ng-include="'views/partials/footer.html'" ng-cloak></div>
